{% load static %}
<div class="row">
	<div class="col d-flex align-items-center justify-content-center">
		<img class="img-fluid rounded-circle content-border w-75" src="{% static 'images/headshot.jpg' %}"/>
	</div>
	<div class="col d-flex align-items-center ">
		<div class="card mt-2 mt-sm-0 shadow-lg w-100 content-border">
			<div class="card-body shadow-sm">
				<h2 class="card-title">About Me</h2>
				<p class="card-text">
					My name is Ben Jarrett, I currently reside in Philadelphia, Pennsylvania. I'm a full-stack developer with
					roughly 10 years professional experience. I'm most well versed in the development of custom django applications and managing
					cumbersome datasets with a host of python libraries, but I have experience in a number of fields:
				</p>
				<ul>
					<li>Full-stack web development</li>
					<li>SQL database management</li>
					<li>GIS data processing</li>
					<li>AWS hosting and deployment</li>
					<li>Legacy VBA and Access support</li>
					<li>Windows system deployment</li>
					<li>CRM administration</li>
				</ul>
				<p>
					For the past three years, I've been working for small drone startup, Geomatix, where I wore a number of hats.
					I spend a good amount of time in the field, a lot of time processing CAD and GIS data with third-
					party and self made tools, and a fair amount of time managing the full customer lifecycle of all our clients
					from marketing to invoicing.
				</p>
			</div>
		</div>
	</div>
</div>
