{% load static %}
<div class="row">
	<div class="col d-flex align-items-center">
		<img class="img-fluid rounded-circle content-border" src="{% static 'images/headshot.jpg' %}"/>
	</div>
	<div class="col d-flex align-items-center ">
		<div class="card mt-2 mt-sm-0 shadow-lg w-100 h-100 content-border">
			<div class="card-body shadow-sm">
				<h2 class="card-title">About Me</h2>
				<p class="card-text">
					For the past decade or so I've enjoyed pursing a variety of personal and professional project across
					a variety of disciplines.
				</p>
				<ul>
					<li>Custom django applications</li>
					<li>Various smaller python projects</li>
					<li>SQL database management</li>
					<li>GIS data processing</li>
					<li>AWS hosting and deployment</li>
					<li>Legacy VBA and Access support</li>
					<li>Windows system deployment</li>
				</ul>

			</div>
		</div>
	</div>
</div>