{% extends 'portfolio/helpers/text_card.html' %}
{% block image_right %}
	{% include 'portfolio/helpers/image_card.html' with src="images/craigslist.jpg" alt="Craigslist Scraper" %}
{% endblock %}
{% block text_content %}
	<h2 class="card-title">Craigslist Scraper</h2>
	</h2>
	<p class="card-text">
		Another simple project one could use to efficiently monitor craigslist for newly
		posted items. This tool supports a variety of different user-defined queries and stores everything
		in a sqlite database queried with sqlalchemy. One could define and monitor a specific
		bounding box for new apartment listings or used car sales within a certain price range.
	</p>
	<p class="card-text">
		Source code is visible on <a href="https://github.com/bcjarrett/craigslist_scraper">github</a>.
	</p>
{% endblock %}
