{% extends 'portfolio/helpers/text_card.html' %}
{% block image_right %}
	{% include 'portfolio/helpers/image_card.html' with src="images/discord.jpg" alt="Discord" %}
{% endblock %}
{% block text_content %}
	<h2 class="card-title">Discord Game Tracker</h2>
	<p class="card-text">
		A small discord bot I built for a server I share with some friends. It tracks
		games we'd like to play, has a few management commands, and allows us to play music in a voice channel.
		This bot was built to add some fun functionality to a private server and was never taken too seriously.
		It was however, an excellent opportunity to practice asynchronous programming in python.
	</p>
	<p class="card-text">
		This project is simply hosted on my personal, local machine. Some source code is visible on
		<a href="https://github.com/bcjarrett/discord_games_tracker">github</a>. The active branch is in a
		private repository.
	</p>
{% endblock %}
