.data-visualizer {
	background-image: url("../images/geomatix_data_visualizer.png");
}
.minecraft {
	background-image: url("../images/minecraft.png");
}
.discord {
	background-image: url("../images/discord.png");
}
.zohoapi {
	background-image: url("../images/zohoapi_pypi.png");
}
.craigslist {
	background-image: url("../images/craigslist.png");
}
.jarrett-page {
	background-image: url("../images/discord.png");
}
.geomatix-us {
	background-image: url("../images/geomatix_us.png");
}
