.data-visualizer {
	background-image: url("../images/geomatix_data_visualizer.jpg");
}
.minecraft {
	background-image: url("../images/minecraft.jpg");
}
.discord {
	background-image: url("../images/discord.jpg");
}
.zohoapi {
	background-image: url("../images/zohoapi_pypi.jpg");
}
.craigslist {
	background-image: url("../images/craigslist.jpg");
}
.jarrett-page {
	background-image: url("../images/discord.jpg");
}
.geomatix-us {
	background-image: url("../images/geomatix_us.jpg");
}
