{% extends 'base.html' %}
{% load static %}
{% block head %}
	<style>
		body {
			min-height: 100vh;
			min-height: -webkit-fill-available;
		}

		html {
			height: -webkit-fill-available;
		}

		main {
			display: flex;
			flex-wrap: nowrap;
			height: 100vh;
			height: -webkit-fill-available;
			max-height: 100vh;
			overflow-x: auto;
			overflow-y: hidden;
		}

		.sidebar {
			height: 100vh;
			border-right: 2px solid #3E6680;
		}

		.bi {
			vertical-align: -.125em;
			pointer-events: none;
			fill: currentColor;
		}

		.nav-flush .nav-link {
			border-radius: 0;
		}

		.btn-toggle-nav a {
			display: inline-flex;
			padding: .1875rem .5rem;
			margin-top: .125rem;
			margin-left: 1.25rem;
			text-decoration: none;
		}

		.btn-toggle-nav a:hover,
		.btn-toggle-nav a:focus {
			background-color: #F6F6F6;
		}

		.active {
			background: #3E6680;
			border-radius: .5em;
		}

		.active > .nav-link {
			color: #F6F6F6;
		}

		.active > .nav-link:hover {
			color: #F6F6F6;
		}

		.nav-link {
			color: #070707;
		}

		.nav-link:hover {
			color: #070707;
		}

		.nav-item.active > .nav-link > img {
			-webkit-filter: invert(1);
			filter: invert(1);
		}

	</style>
{% endblock %}
{% block sidebar %}
	<div class="d-flex flex-column flex-shrink-0 bg-light sidebar" style="display:none!important;width: 4.5rem;">
		<a href="/" class="d-block p-3 nav-link text-decoration-none" title="" data-bs-toggle="tooltip"
		   data-bs-placement="right" data-bs-original-title="Icon-only">
			<svg class="bi" width="40" height="32">
				<use xlink:href="#bootstrap"></use>
			</svg>
			<span class="visually-hidden">Icon-only</span>
		</a>
		<ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
			<li class="nav-item">
				<a href="#" class="nav-link active py-3 border-bottom" aria-current="page" title=""
				   data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
					<svg class="bi" width="24" height="24" role="img" aria-label="Home">
						<use xlink:href="#home"></use>
					</svg>
				</a>
			</li>
			<li>
				<a href="#" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip"
				   data-bs-placement="right" data-bs-original-title="Dashboard">
					<svg class="bi" width="24" height="24">
						<use xlink:href="#speedometer2"></use>
					</svg>
				</a>
			</li>
			<li>
				<a href="#" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip"
				   data-bs-placement="right" data-bs-original-title="Orders">
					<svg class="bi" width="24" height="24">
						<use xlink:href="#table"></use>
					</svg>
				</a>
			</li>
			<li>
				<a href="#" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip"
				   data-bs-placement="right" data-bs-original-title="Products">
					<svg class="bi" width="24" height="24">
						<use xlink:href="#grid"></use>
					</svg>
				</a>
			</li>
			<li>
				<a href="#" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip"
				   data-bs-placement="right" data-bs-original-title="Customers">
					<svg class="bi" width="24" height="24">
						<use xlink:href="#people-circle"></use>
					</svg>
				</a>
			</li>
		</ul>
		<div class="dropdown border-top">
			<a href="#"
			   class="d-flex align-items-center justify-content-center p-3 nav-link text-decoration-none">
				<img src="https://github.com/bcjarrett.png" alt="bcjarrett" width="24" height="24"
					 class="rounded-circle">
			</a>
			<ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
				<li><a class="dropdown-item" href="#">New project...</a></li>
				<li><a class="dropdown-item" href="#">Settings</a></li>
				<li><a class="dropdown-item" href="#">Profile</a></li>
				<li>
					<hr class="dropdown-divider">
				</li>
				<li><a class="dropdown-item" href="#">Sign out</a></li>
			</ul>
		</div>
	</div>
	<div class="d-flex flex-column flex-shrink-0 p-3 bg-light sidebar" style="width: 250px;">
		<a href="/" class="d-flex align-items-center nav-link text-decoration-none">
			<span class="fs-4 ms-3 ">jarrett.page</span>
		</a>
		<hr>
		<ul class="nav nav-pills flex-column mb-auto">
			<li class="nav-item">
				<a href="#" class="nav-link nav-link">
					<i class="far fa-address-card me-2 "></i>
					About Me
				</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link nav-link">
					<img src="{% static 'images/dj_icon_black.png' %}" alt="Django" class="bi me-2 nav-image"
						 width="15.45"
						 height="15.45"/>
					Django Apps
				</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link nav-link">
					<i class="fab fa-python me-2"></i>
					Small Projects
				</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link nav-link">
					<i class="far fa-window-restore me-2"></i>
					Websites
				</a>
			</li>
		</ul>
		<hr>
		<div >
			<a href="https://github.com/bcjarrett" class="d-flex align-items-center nav-link text-decoration-none">
				<img src="https://github.com/bcjarrett.png" alt="" width="32" height="32" class="rounded-circle me-2">
				Github
			</a>
		</div>
	</div>
{% endblock %}
{% block content %}
{% endblock %}
{% block js_late_load %}
	<script>
        $(function () {
            const sidebarActiveHandler = () => {
                const sidebarItems = $('.nav-item')
                sidebarItems.click(function () {
                    sidebarItems.removeClass('active')
                    $(this).addClass('active')
                })
            }

			sidebarActiveHandler()
        })
	</script>
{% endblock %}
