{% load static %}
<div class="d-flex flex-column flex-shrink-0 sidebar d-block d-md-none nav-sm" style="width: 2.75rem;">
	<ul class="nav nav-pills nav-flush flex-column mb-auto">
		<li class="nav-item active" data-ref="intro">
			<a href="#intro" class="nav-link nav-icon py-3 border-bottom text-center">
				<i class="fas fa-home fa-lg"></i>
			</a>
		</li>
		<li class="nav-item" data-ref="django-apps">
			<a href="#django-apps" class="nav-link nav-icon py-3 border-bottom text-center" style="height: 57px">
				<img src="{% static 'images/dj_icon_black.png' %}" alt="Django" class="bi me-2" width="16"
					 height="16"
					 style="margin-left: 4px"/>
			</a>
		</li>
		<li class="nav-item" data-ref="personal-projects">
			<a href="#personal-projects" class="nav-link nav-icon py-3 border-bottom text-center">
				<i class="fab fa-python fa-lg"></i>
			</a>
		</li>
		<li class="nav-item" data-ref="websites">
			<a href="#websites" class="nav-link nav-icon py-3 border-bottom text-center">
				<i class="far fa-window-restore fa-lg"></i>
			</a>
		</li>
		<li class="nav-item" data-ref="other-projects">
			<a href="#other-projects" class="nav-link nav-icon py-3 border-bottom text-center">
				<i class="fas fa-project-diagram fa-lg"></i>
			</a>
		</li>
		<li class="nav-item" data-ref="github">
			<a href="https://github.com/bcjarrett" class="nav-link nav-icon py-3 border-bottom text-center">
				<i class="fab fa-github fa-lg"></i>
			</a>
		</li>
	</ul>
</div>
<div class="d-flex flex-column flex-shrink-0 p-3 sidebar d-none d-md-block nav-lg">
	<a href="#intro" class="d-flex align-items-center nav-link text-decoration-none">
		<span class="fs-4 ms-3 ">jarrett.page</span>
	</a>
	<hr>
	<ul class="nav nav-pills flex-column mb-auto">
		<li class="nav-item" data-ref="django-apps">
			<a href="#django-apps" class="nav-link nav-link">
				<img src="{% static 'images/dj_icon_black.png' %}" alt="Django" class="bi me-2"
					 width="15.45"
					 height="15.45"/>
				Django Apps
			</a>
		</li>
		<li class="nav-item" data-ref="personal-projects">
			<a href="#personal-projects" class="nav-link nav-link">
				<i class="fab fa-python me-2"></i>
				Personal Projects
			</a>
		</li>
		<li class="nav-item" data-ref="websites">
			<a href="#websites" class="nav-link nav-link">
				<i class="far fa-window-restore me-2"></i>
				Websites
			</a>
		</li>
		<li class="nav-item" data-ref="other-projects">
			<a href="#other-projects" class="nav-link nav-link">
				<i class="fas fa-project-diagram me-2"></i>
				Other
			</a>
		</li>
	</ul>
	<hr>
	<div>
		<a href="https://github.com/bcjarrett" class="d-flex align-items-center nav-link text-decoration-none">
			<img src="https://github.com/bcjarrett.png" alt="" width="32" height="32" class="rounded-circle me-2">
			Github
		</a>
	</div>
</div>
